h1{
    font-family: 'Poppins', sans-serif;
    font-size: 64px;
    font-weight: 700;
}
.banner{
    display: flex;
    height: 700px;
    background-color: rgb(45, 37,160);
}
.banner_inside{
    
}
.half-width{
    width: 50%;
}
.banner_image{
    width: 100%;
    margin-top: 135px;
    height: 438px;
    width: 556px;
    padding-left: 20px;
}
.copa{
    margin-left: 156px;
    margin-top: 207px;
    color: white;
}
.button{
    color: white;
    text-decoration: none;
    border: 1px solid red;
    padding: 15px 40px;
    margin-top: 50px;
    background-color:rgb(224, 44, 109);
    font-family: 'Roboto', sans-serif;
}
.right_arrow{
    padding-left: 10px;
}
.playerblogs{
    height: 550px;
    width: 400px;
    margin: 25px;
    padding: 20px;
    box-shadow: 0px 0px 20px 0px gray;
    font-family: 'Poppins', sans-serif;
}
.playerImage img{
    width: 100%;
}
.border{
    border: 5px solid red;
}
.playersection{
    display: grid;
    grid-template-columns: 1fr 1fr auto;
    margin-left:180px ;
    margin-right:210px ;
    margin-top: 100px;
}
p{
    color: rgb(105, 105, 105);
}
.lastpera{
    font-family: 'Poppins', sans-serif;
    /* margin: 200px 300px; */
    margin-top: 200px;
    margin-bottom: 200px;
    margin-left: 200px;
    /* padding: 100px; */
    height: 700px;
    margin-left: 200px;
}
.lastpera-width{
    width: 45%;
    float: left;
    padding: auto;
}
.lastpera-width img{
    width: 100%;
    margin-left: 50px;
}
/* .footer img{
    text-align: center;
    align-items: center;
} */
.footer{
    /* margin: 400px; */
    /* padding: 300px; */
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
}
.footer img{
    width: 483.87px;
    height: 150px;
    /* align-items: center;
    display: flex;
    align-items: center; */
}
.icon{
    margin-left: 10px;
    background-color: rgb(231, 231, 232);
    color: rgb(150, 155, 170);
    padding: 10px;
    border-radius: 50%;
}

@media only screen and (max-width: 600px) {
    .banner{
        /* grid-template-columns: repeat(1, 1fr)           ;
        display: flex;
        height: 700px;
        background-color: rgb(45, 37,160); */
        grid-template-columns: repeat(1, 1fr);
        display: flex;
        height: auto;
        background-color: rgb(45, 37,160);
        width: 668px;
        flex-wrap: nowrap;
        align-content: center;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .lastpera{
        grid-template-columns: repeat(1, 1fr);
        display: flex;
        height: auto;
        width: 668px;
        flex-wrap: nowrap;
        align-content: center;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin-left: 20px;
        margin-right: 200px;
    }
    .lastpera-width{
        width: 100%;
    }
    .lastpera-width img{
        margin-top: 20px;
        margin-left: 0;
    }
    .half-width{
        width: 100%;
    }
    .copa{
        margin: 0;
        padding: 0;
        color: white;
    }
    .banner_image{
        width: 100%;
        margin-top: 135px;
        height: auto;
        width: 100%;
        padding-left: 20px;
    }
    .playersection {
    display: grid;
    grid-template-columns: 1fr;
    margin-left: 120px;
    margin-right: 210px;
    margin-top: 100px;
    }
    .footer{
        width: 688px;
    }
    .footer img{
        width: 500px;
    }   
}

  /* icon footer margin padding */
  .margin{
      margin-top: 50px;
  }
  .h3{
    font-family: 'Poppins', sans-serif;
  }